* {
    font-family:sans-serif;
    text-align:center;
} #footer {
    background:rgb(1, 95, 17);
    color:white;
} body {
    margin:0;
} div {
    line-height:2.3;
} #burger {
    float:right;
    border:solid black 1px;
    width:4vw;
    height:6vh;
    margin:2%;
    margin-left:-2.2%;
} aside {
    background:rgb(1, 95, 17);
    color:white;
    float:right;
    width:10%;
    margin-left:-10%;
    visibility:hidden;
} ul {
    list-style-type:none;
    padding:1%;
} #leftArrow {
    position:relative;
    font-size:130%;
    font-weight:bold;
    visibility:hidden;
} li {
    padding:2%;
    margin:3%;
    background:black;
}